
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; */


/* farbe (background/border): #eee, #ccc 
farbe text: #659d89, #333, #666, #000 */

body {
    margin: 0;
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 50px 0 0 200px;
}

nav li {
    display: inline-block;
    padding: 0 50px 0 0;


}

nav a {
    text-decoration: none;
    color: #659d89;

}

h1 {
    color: #659d89;
    font-size: 4rem;
    margin-bottom: -40px;
}

.header {
    width: 60%;
    margin-left: 200px;
    margin-top: 200px;
}

.header p {
    font-size: 3.5rem;
    width: 80%;
}

.fas , .fa-arrow-down {
    font-size: 20px;
    margin-right: 20px;
}

.icon {
    margin-left: 200px;

}

#social-media {
    list-style: none;
    padding: 0px;
    text-align: right;
    width: 90%;
    line-height: 40px;

}

#social {
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}

.struggle {
    border-bottom: 1px solid #ccc;
    padding-bottom: 80px;
}

h2{
    margin-left: 200px;
    margin-top: 50px;
}

#resources {
    margin-bottom: 100px;
}

.struggle p {
    margin-bottom: 70px;
    margin-left: 200px;
}

.struggle article {
    width: 65%;
    margin: 0px auto;

}

.struggle article img {
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 1.5%;
}

.resources {
    width: 56.5%;
}

.left {
    margin-bottom: 100px;
    margin-left: 260px;
}

.right {
    margin-left: 500px;
    margin-bottom: 100px;
}

.img {
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img:hover {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.38);
}

.focus {
    background-image: url(../img/focus-01.png);
}

.sleep {
    background-image: url(../img/sleep-video-02.png);
}

.sleep2 {
    background-image: url(../img/sleep-article-03-p-1080.png);
}

.focus2 {
    background-image: url(../img/focus-video-01-p-1080.png);
}

.caption {
    font-size: .8rem;
    color: #666;
    text-align: center;
}

.focus:hover , .focus2:hover , .sleep:hover , .sleep2:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.38);
}

.img a {
    padding: 0 800px 430px 0;
}

h3 {
    text-align: center;
}

section:nth-of-type(4) {
    border-bottom: 1px solid #ccc;
}

footer {
    height: 30vh;
}

footer a {
    color: #333;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 100px;
}